@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    font-family: 'Roboto', sans-serif;
}

/*----------------------------------------NavBar---*/

.navbar {
    opacity: 0.8;
}

.flags {
    height: 50px;
    width: 50px;
}

/*----------------------------------------Map---*/

div#map {
    min-height: 360px;
}

.bg-color-map {
    background-color: gray;
}

