@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*----------------------------------------Body---*/

body {
    font-family: 'Roboto', sans-serif;
}

#logo-links {
    color: black;
    position: relative;
}

#heading-intro {
    color: black;
    position: relative;
    margin-top: 20px;
}

.p-heading-intro {
    color: black;
    position: relative;
}

#p-intro {
    color: black;
    position: relative;
    line-height: 25px;
    text-align: left;
}

#heading-rct {
    color: black;
    position: relative;
    margin-top: 50px;
    margin-bottom: 20px
}

#p-rct {
    color:black;
    position: relative;
    line-height: 25px;
    text-align: left;
}

.p-england {
    color: black;
    position: relative;
}

.p-france {
    color: black;
    position: relative;
}

.p-ireland {
    color: black;
    position: relative;
}

.p-italy {
    color: black;
    position: relative;
}

.p-scotland {
    color: black;
    position: relative;
}

.p-wales {
    color: black;
    position: relative;
}

/*----------------------------------------Background Image/Images---*/

body, html {
  height: 100%;
}

#bg {  
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  opacity: 40%;
}

#bg img {
  position: absolute;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.float-img {
    width: 350px;
    height: 270px;
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
    border: solid black 1px;
    border-radius: 5px;
    padding: 2px;
}

.float-img1 {
    width: 350px;
    height: 270px;
    float: right;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 5px;
    border: solid black 1px;
    border-radius: 5px;
    padding: 2px;
}

.float-img2 {
    width: 350px;
    height: 270px;
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
    border: solid black 1px;
    border-radius: 5px;
    padding: 2px;
}

.float-img3 {
    width: 350px;
    height: 270px;
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
    border: solid black 1px;
    border-radius: 5px;
    padding: 2px;
}

#ireland-img {
    width: 110px;
    height: 75px;
    text-align: center;
}

.float-img4 {
    width: 350px;
    height: 270px;
    float: right;
    margin-top: 55px;
    margin-right: 20px;
    margin-bottom: 5px;
    border: solid black 1px;
    border-radius: 5px;
    padding: 2px;
}

.float-img5 {
    width: 350px;
    height: 270px;
    float: left;
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
    border: solid black 1px;
    border-radius: 5px;
    padding: 2px;
}

.float-img6 {
    width: 350px;
    height: 270px;
    float: right;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 5px;
    border: solid black 1px;
    border-radius: 5px;
    padding: 2px;
}

.float-img7 {
    width: 350px;
    height: 270px;
    float: left;
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
    border: solid black 1px;
    border-radius: 5px;
    padding: 2px;
}

.float-img8 {
    width: 350px;
    height: 270px;
    float: right;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 60px;
    border: solid black 1px;
    border-radius: 5px;
    padding: 2px;
}

.float-img9 {
    width: 350px;
    height: 270px;
    float: right;
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
    border: solid black 1px;
    border-radius: 5px;
    padding: 2px;
}

.float-img10 {
    width: 350px;
    height: 270px;
    float: left;
    margin-top: 25px;
    margin-right: 20px;
    margin-bottom: 5px;
    border: solid black 1px;
    border-radius: 5px;
    padding: 2px;
}

.float-img11 {
    width: 350px;
    height: 270px;
    float: right;
    margin-top: 80px;
    margin-right: 20px;
    margin-bottom: 5px;
    border: solid black 1px;
    border-radius: 5px;
    padding: 2px;
}

.float-img12 {
    width: 350px;
    height: 270px;
    float: left;
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
    border: solid black 1px;
    border-radius: 5px;
    padding: 2px;
}

.float-img13 {
    width: 350px;
    height: 270px;
    float: right;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 5px;
    border: solid black 1px;
    border-radius: 5px;
    padding: 2px;
}

.float-img14 {
    width: 550px;
    height: 270px;
    float: left;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 5px;
    border: solid black 1px;
    border-radius: 5px;
    padding: 2px;
}

.float-img15 {
    width: 350px;
    height: 270px;
    float: left;
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
    border: solid black 1px;
    border-radius: 5px;
    padding: 2px;
}

.float-img16 {
    width: 350px;
    height: 270px;
    float: right;
    margin-top: 60px;
    margin-right: 20px;
    margin-bottom: 5px;
    border: solid black 1px;
    border-radius: 5px;
    padding: 2px;
}

.float-img17 {
    width: 350px;
    height: 270px;
    float: left;
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
    border: solid black 1px;
    border-radius: 5px;
    padding: 2px;
}

.float-img18 {
    width: 350px;
    height: 270px;
    float: right;
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
    border: solid black 1px;
    border-radius: 5px;
    padding: 2px;
}

/*----------------------------------------NavBar---*/

.navbar {
    opacity: 0.8;
}

/*----------------------------------------Logo---*/

#logo {
    position: relative;
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    list-style: none;
}

/*----------------------------------------Map---*/
div#stadiums {
    min-height: 400px;
}

div#hotels {
    min-height: 400px;
}

.bg-color-map {
    opacity: 1;
    margin-top: 20px;
}

/*----------------------------------------Graphs---*/

#graphs {
    float: left;
    text-align: center;
}

#total-outright-wins {
    position: relative;
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 20px;
    height: 300px;
    width: 400px;
}

#total-grand-slams {
    position: relative;
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 20px;
    height: 300px;
    width: 400px;
}

#triple-crowns {
    position: relative;
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 20px;
    height: 300px;
    width: 400px;
}

#wooden-spoons {
    position: relative;
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 20px;
    height: 300px;
    width: 400px;
}

#heineken-cup-wins {
    position: relative;
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 20px;
    height: 300px;
    width: 400px;
}

#heineken-cup-runner-ups {
    position: relative;
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 20px;
    height: 300px;
    width: 400px;
}

#skyscanner {
    position: relative;
}

/*----------------------------------------Footer---*/

footer {
    background-color: #0d2ff0;
    color: #fafafa;
    min-height: 120px;
    margin: 20px;
    margin-bottom: 0;
}

.six-nation-link {
    margin-top: 5%;
}