@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*----------------------------------------Body---*/

body {
    font-family: 'Roboto', sans-serif;
}

/*----------------------------------------Background Image---*/

body, html {
  height: 100%;
}

#bg {  
  /*pointer-events: none;*/
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  opacity: 40%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

/*----------------------------------------NavBar---*/

.navbar {
    opacity: 0.8;
}

/*.navbar-custom {
    background-color: #0d2ff0;
}*/

/*----------------------------------------Logo---*/

#logo {
    object-fit: cover;
    position: relative;
    opacity: 1;
}

/*----------------------------------------Map---*/

div#map {
    min-height: 400px;
}

.bg-color-map {
    opacity: 0.8;
    margin-top: 20px;
}

/*----------------------------------------Footer---*/

footer {
    background-color: #0d2ff0;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.inline-block {
    display: inline;
}